.container {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 18px);
  width: 100%;
  background-color: #2d256f;
  align-items: center;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: row;
  width: 480px;
  flex-wrap: wrap;
}
